In [ ]:
#1
import numpy as np

a = np.arange(1, 10)
table = a.reshape(9, 1) * a
print(table)

[[ 1  2  3  4  5  6  7  8  9]
 [ 2  4  6  8 10 12 14 16 18]
 [ 3  6  9 12 15 18 21 24 27]
 [ 4  8 12 16 20 24 28 32 36]
 [ 5 10 15 20 25 30 35 40 45]
 [ 6 12 18 24 30 36 42 48 54]
 [ 7 14 21 28 35 42 49 56 63]
 [ 8 16 24 32 40 48 56 64 72]
 [ 9 18 27 36 45 54 63 72 81]]

In [ ]:
#2
def arithmetic_matrix(n, first, diff):
    arr = np.arange(first, first + n * diff, diff)
    matrix = np.diag(arr)
    return matrix

print(arithmetic_matrix(5, 1.5, -0.5))

[[ 1.5  0.   0.   0.   0. ]
 [ 0.   1.   0.   0.   0. ]
 [ 0.   0.   0.5  0.   0. ]
 [ 0.   0.   0.   0.   0. ]
 [ 0.   0.   0.   0.  -0.5]]

In [ ]:
#3
A = np.arange(1, 26).reshape(5, 5)

odd_elements = A[::2, ::2].flatten()

print(odd_elements)

[ 1  3  5 11 13 15 21 23 25]

In [ ]:
#4
arr = np.zeros((5,5))
arr[0,:] = 1
arr[-1,:] = 1
arr[:,0] = 1
arr[:,-1] = 1
print(arr)

[[1. 1. 1. 1. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 0. 0. 0. 1.]
 [1. 1. 1. 1. 1.]]

In [ ]:
#5
arr1 = np.zeros((5,5))
arr1[::2,::2] = 5
arr1[1::2,1::2] = 5
print(arr1)

arr2 = np.zeros((5,5))
for i in range(5):
    for j in range(i+1):
        arr2[i,j] = 5
print(arr2)

det1 = np.linalg.det(arr1)
inv1 = np.linalg.inv(arr1)

det2 = np.linalg.det(arr2)
inv2 = np.linalg.inv(arr2)

print(det1)
print(inv1)

print(det2)
print(inv2)

[[5. 0. 5. 0. 5.]
 [0. 5. 0. 5. 0.]
 [5. 0. 5. 0. 5.]
 [0. 5. 0. 5. 0.]
 [5. 0. 5. 0. 5.]]
[[5. 0. 0. 0. 0.]
 [5. 5. 0. 0. 0.]
 [5. 5. 5. 0. 0.]
 [5. 5. 5. 5. 0.]
 [5. 5. 5. 5. 5.]]

LinAlgError: ignored

In [ ]:
#6-9
import pandas as pd
df = pd.read_csv('/content/estate.txt')

print(df.head())

print(df.tail())

print(df.info())

      Id  DistrictId  Rooms      Square  LifeSquare  KitchenSquare  Floor  \
0  11809          27    3.0  115.027311         NaN           10.0      4
1   3013          22    1.0   39.832524   23.169223            8.0      7
2   8215           1    3.0   78.342215   47.671972           10.0      2
3   2352           1    1.0   40.409907         NaN            1.0     10
4  13866          94    2.0   64.285067   38.562517            9.0     16

   HouseFloor  HouseYear  Ecology_1 Ecology_2 Ecology_3  Social_1  Social_2  \
0        10.0       2014   0.075424         B         B        11      3097
1         8.0       1966   0.118537         B         B        30      6207
2        17.0       1988   0.025609         B         B        33      5261
3        22.0       1977   0.007122         B         B         1       264
4        16.0       1972   0.282798         B         B        33      8667

   Social_3  Healthcare_1  Helthcare_2  Shops_1 Shops_2          Price
0         0           NaN            0        0       B  305018.871089
1         1        1183.0            1        0       B  177734.553407
2         0         240.0            3        1       B  282078.720850
3         0           NaN            0        1       B  168106.007630
4         2           NaN            0        6       B  343995.102962
         Id  DistrictId  Rooms     Square  LifeSquare  KitchenSquare  Floor  \
9995   1260          61    2.0  49.090728   33.272626            6.0      3
9996  16265          27    2.0  64.307684   37.038420            9.0     13
9997   2795         178    1.0  29.648057   16.555363            5.0      3
9998  14561          21    1.0  32.330292   22.326870            5.0      3
9999   7202          94    1.0  35.815476   22.301367            6.0      9

      HouseFloor  HouseYear  Ecology_1 Ecology_2 Ecology_3  Social_1  \
9995        12.0       1981   0.300323         B         B        52
9996         0.0       1977   0.072158         B         B         2
9997         5.0       1958   0.460556         B         B        20
9998         9.0       1969   0.194489         B         B        47
9999         9.0       1975   0.127376         B         B        43

      Social_2  Social_3  Healthcare_1  Helthcare_2  Shops_1 Shops_2  \
9995     10311         6           NaN            1        9       B
9996       629         1           NaN            0        0       A
9997      4386        14           NaN            1        5       B
9998      8004         3         125.0            3        5       B
9999      8429         3           NaN            3        9       B

              Price
9995  119367.455796
9996  199715.148807
9997  165953.912580
9998  171842.411855
9999  177685.627486
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 20 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             10000 non-null  int64
 1   DistrictId     10000 non-null  int64
 2   Rooms          10000 non-null  float64
 3   Square         10000 non-null  float64
 4   LifeSquare     7887 non-null   float64
 5   KitchenSquare  10000 non-null  float64
 6   Floor          10000 non-null  int64
 7   HouseFloor     10000 non-null  float64
 8   HouseYear      10000 non-null  int64
 9   Ecology_1      10000 non-null  float64
 10  Ecology_2      10000 non-null  object
 11  Ecology_3      10000 non-null  object
 12  Social_1       10000 non-null  int64
 13  Social_2       10000 non-null  int64
 14  Social_3       10000 non-null  int64
 15  Healthcare_1   5202 non-null   float64
 16  Helthcare_2    10000 non-null  int64
 17  Shops_1        10000 non-null  int64
 18  Shops_2        10000 non-null  object
 19  Price          10000 non-null  float64
dtypes: float64(8), int64(9), object(3)
memory usage: 1.5+ MB
None